<component name="libraryTable">
  <library name="logback-access-1.0.9">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/ch.qos.logback/logback-access/1.0.9/jar/9d58a6095a0ff64e11f0f94b5b41a556f3201d5c/logback-access-1.0.9.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/ch.qos.logback/logback-access/1.0.9/source/f5ae62acbaa89fd9d97556f558e1ad8ae87d235f/logback-access-1.0.9-sources.jar!/" />
    </SOURCES>
  </library>
</component>