<component name="libraryTable">
  <library name="spring-oxm-3.2.3.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/org.springframework/spring-oxm/3.2.3.RELEASE/jar/89c0f4ca00e44a636e01aeaf29894b86828af6a1/spring-oxm-3.2.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/org.springframework/spring-oxm/3.2.3.RELEASE/source/bd7d9b0aea1c5836db25cf6f66cf83d155be044d/spring-oxm-3.2.3.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>