<component name="libraryTable">
  <library name="spring-jdbc-3.2.3.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/org.springframework/spring-jdbc/3.2.3.RELEASE/jar/426d245731dca3315fe421300db6316d509c5d85/spring-jdbc-3.2.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/org.springframework/spring-jdbc/3.2.3.RELEASE/source/4de0842171bb24f1409707bc8a3ca881730f763d/spring-jdbc-3.2.3.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>