<component name="libraryTable">
  <library name="spring-orm-3.2.3.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/org.springframework/spring-orm/3.2.3.RELEASE/jar/5e2a9788a140adc944dd1b9766abe40531b002c6/spring-orm-3.2.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-24/filestore/org.springframework/spring-orm/3.2.3.RELEASE/source/1eeba26abc08ab4956ce3b5bec249022aceb815a/spring-orm-3.2.3.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>